@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--font-family: "Inter", "Helvetica Neue", sans-serif;
	--background-color: #ffffff;
	--text-color: #222222;
	--simply-white: #ffffff;
	--simply-grey: #f8f9fa;
	--primary-color: #007bff;
	--hover-color: #0056b3;
	--secondary-color: #6c757d;
	--border-color: #ced4da;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	font-family: var(--font-family);
	font-size: 1rem;
	font-weight: 400;
	background-color: var(--background-color);
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
	color: var(--text-color);
	height: 100vh;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

h4 {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 2rem;
}

h5 {
	font-weight: 500;
	font-size: 1.25rem;
}

form {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	max-width: 100%;
}

input[type="text"] {
	appearance: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	padding: 0.75rem;
	border: 1px solid var(--border-color);
	background-color: var(--simply-grey);
	border-radius: 0.25rem;
	width: 100%;
}

input:focus {
	outline: none;
	border-color: var(--primary-color);
}

button {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 0.25rem;
	padding: 0.75rem;
	background-color: var(--primary-color);
	color: var(--simply-white);
	cursor: pointer;
	width: 200px;
}

button:hover {
	background-color: var(--hover-color);
}

::placeholder {
	color: var(--secondary-color);
}

.container {
	padding: 2rem 3rem;
}

.main-area {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
}

#weather-data {
	display: flex;
	justify-content: normal;
	gap: 1rem;
}

.weather-data-container {
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.conditions {
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
}

.location {
	text-transform: capitalize;
}

.temp {
	margin: 0.25rem 0;
}

.num,
.degrees {
	font-size: 6rem;
	font-weight: 600;
}

.weather-info {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-top: 1rem;
}

.error {
	min-height: 1.5rem;
	margin-top: 1rem;
}

.temp-toggle {
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
}

.temp-toggle:hover {
	color: var(--hover-color);
}

@media (max-width: 480px) {
	.container {
		padding: 2rem;
	}

	input[type="text"],
	button {
		width: 100%;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.num,
	.degrees {
		font-size: 4.5rem;
	}
}
